<!--
Title: Exercise 3.3
Author: Adam Rodgers
Date: 29 Aug 2021
Modified By: Adam Rodgers
Description: Advanced Routing
Resources: https://www.w3schools.com/bootstrap/bootstrap_examples.asp
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <title>WEB340</title>
  </head>
  <body>
    <div class="container">
      <br />
      <h1>Adam's Advanced Routing Page</h1>
      <br />
      <!--Use bootstrap table with EJS variable to fill the Product ID cell-->
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Product ID</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= productId %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
