<%- include('header.ejs') -%>
<%- include('navbar.ejs') -%>

    <div class="container px-4 text-center">
        <br>
        <br>
        <h1 class="fw-bolder">Welcome to Adam's Employee Management System</h1>
    </div>

    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <br>
                    <br>
                    <p class="lead">You will be able to:</p>
                    <ul>
                        <li>See a tabular view of employee records</li>
                        <li>Enter new data</li>
                        <li>View employee data</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
<%- include('scripts.ejs') -%>
<%- include('footer.ejs') -%>