<!--
  References:
    https://www.geeksforgeeks.org/how-to-change-navigation-bar-color-in-bootstrap/
    https://mdbootstrap.com/docs/b4/jquery/navigation/navbar/#color-schemes
    https://getbootstrap.com/docs/3.4/components/#navbar
-->


<!--Navbar-->
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="">Adam Rodgers</a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Enter</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">View</a>
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->